:root{
    --primary: crimson;
    --dark: #073c86;
    --darkdark: #111827;
    --light: #F3F4F6;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: var(--white);
    background-image: url('timer2.jpg');
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    color: var(--light);
}

.watch{
    text-align: center;
    background-color: var(--darkdark);
    width: 100%;
    max-width: 420px;
    margin: 4rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;   
}

.time{
    font-size: 4rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.header{
    background-color: var(--primary);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.header p{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: var(--light);
    font-size: 1.2rem;
    background-color: var(--primary);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
}

.button:hover{
    opacity: 0.7;
}

button:active{
    background-color: var(--dark);
}